:root {
  --font-family: "Graphik LC TT", sans-serif;
  --content-width: 1340px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Graphik LC TT";
  src: url("../fonts/../fonts/Graphik-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: bold;
}
@font-face {
  font-family: "Graphik LC TT";
  src: url("../fonts/../fonts/Graphik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.header {
  padding: 35px 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo {
  max-width: 130px;
}
.header__navbar {
  margin-left: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
.header__button {
  min-width: 120px;
  max-height: 45px;
  font-weight: 600;
  font-size: 16px;
  line-height: 281%;
  text-align: center;
  color: #000;
}
.header__button-login {
  position: relative;
  padding: 0 36px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.header__button-login::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -30px;
  width: 24px;
  height: 24px;
  background: url("../img/login.svg");
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
.header__button-login:hover:before {
  left: 5px;
}
.header__button-sign {
  padding: 0 22px;
  color: #fff;
  background-color: #ff6336;
}
@media (any-hover: hover) {
  .header__button-sign:hover {
    opacity: 0.9;
  }
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 42px;
}
.navbar__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  color: #000;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .navbar__link:hover {
    color: grey;
  }
}

.hero {
  padding: 100px 0 150px;
}
.hero__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.hero__text {
  max-width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.hero__title {
  margin: 0;
  margin-bottom: 51px;
  max-width: 552px;
  font-weight: 600;
  font-size: 65px;
  line-height: 108%;
  color: #000;
}
.hero__info {
  margin: 0;
  margin-bottom: 50px;
  max-width: 470px;
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  color: #000;
}
.hero__text-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.hero__button {
  margin-bottom: 25px;
  max-width: 160px;
  max-height: 60px;
  font-weight: 600;
  font-size: 16px;
  line-height: 375%;
  text-align: center;
}
.hero__button-sign {
  padding: 0 42px;
  color: #fff;
  background-color: #ff6336;
}
@media (any-hover: hover) {
  .hero__button-sign:hover {
    opacity: 0.9;
  }
}
.hero__button-login {
  padding: 1px 28px;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.hero__span {
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  color: #000;
}
.hero__image {
  width: 759px;
  position: relative;
  -webkit-transform: translateX(-55px);
  -ms-transform: translateX(-55px);
  transform: translateX(-55px);
}

.companies {
  background-color: #ff9c7d;
}
.companies__container {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.companies__subtitle {
  margin: 0;
  margin-bottom: 70px;
  max-width: 720px;
  font-weight: 600;
  font-size: 50px;
  line-height: 120%;
  text-align: center;
  color: #000;
}
.companies__content {
  margin-bottom: 94px;
  width: 100%;
  max-width: 1290px;
  text-align: center;
}

.swiper__svg {
  max-width: 150px;
  max-height: 53px;
}

.project {
  padding-top: 100px;
  padding-bottom: 150px;
}
.project__content {
  padding: 0 20px;
}
.project__item {
  padding-top: 250px;
}
.project__item:first-child {
  padding-top: 0;
}
.project__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 60px;
}
.project__text {
  max-width: 500px;
}
.project__subtitle {
  margin: 0;
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 50px;
  line-height: 120%;
  color: #000;
}
.project__info {
  margin: 0;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #000;
}
.project__info-span {
  text-decoration: underline;
}
.project__link {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #000;
}
.project__gif {
  width: 632px;
}

.work {
  padding: 120px 0 150px;
  background-color: #fff8e4;
}
.work__subtitle {
  margin: 0;
  font-weight: 600;
  font-size: 50px;
  line-height: 120%;
  text-align: center;
  color: #000;
}
.work__content {
  padding: 0 20px;
}
.work__list {
  width: 100%;
  -webkit-column-gap: 123px;
  -moz-column-gap: 123px;
  column-gap: 123px;
  gap: 54px 123px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.work__item {
  max-width: 330px;
}
.work__name {
  margin: 0;
  padding: 23px 0;
  font-weight: 600;
  font-size: 25px;
  line-height: 140%;
  text-align: center;
  color: #000;
}
.work__descr {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
  color: #000;
}

.team {
  padding-top: 120px;
  padding-bottom: 70px;
}
.team__subtitle {
  margin: 0;
  padding-bottom: 25px;
  font-weight: 600;
  font-size: 50px;
  line-height: 120%;
  color: #000;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 35px;
}
.team__item {
  max-width: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}
.team__name {
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 133%;
  color: #000;
}
.team__info {
  margin: 0;
  padding-top: 34px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #000;
}
.team__link {
  padding-top: 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-decoration: underline;
  color: #000;
}
/*# sourceMappingURL=main.css.map */